@tailwind base;
@tailwind components;
@tailwind utilities;


.main-content {
    padding-bottom: 100px; /* Passt die Höhe entsprechend der Höhe deiner Navigationsleiste an */
}


.iconProfile {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/avatar.png') no-repeat center / contain;
    mask: url('/images/avatar.png') no-repeat center / contain;

}

.iconHome {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/home.png') no-repeat center / contain;
    mask: url('/images/home.png') no-repeat center / contain;

}

.iconFavourites {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/heart.png') no-repeat center / contain;
    mask: url('/images/heart.png') no-repeat center / contain;

}


.iconAddAd {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/more.png') no-repeat center / contain;
    mask: url('/images/more.png') no-repeat center / contain;

}

.iconNewMessage {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: rgb(229, 143, 143);
    -webkit-mask: url('/images/new-message.png') no-repeat center / contain;
    mask: url('/images/new-message.png') no-repeat center / contain;

}

.conversation-unread {
    background-color: #f0f4f8; /* Helles Blau als Beispiel */
    border-left: 4px solid #3490dc; /* Dunkelblau als Markierung */
  }


.iconDown {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/down.png') no-repeat center / contain;
    mask: url('/images/down.png') no-repeat center / contain;

}

.iconNext {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    -webkit-mask: url('/images/next.png') no-repeat center / contain;
    mask: url('/images/next.png') no-repeat center / contain;

}

.iconMessage {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-mask: url('/images/message.png') no-repeat center / contain;
    mask: url('/images/message.png') no-repeat center / contain;

}



.article-image {
    border: 2px solid #ddd; /* Grauer Rahmen */
    padding: 5px; /* Etwas Abstand innerhalb des Rahmens */
    width: 100%; /* Bildbreite auf Containerbreite setzen */
    height: 400px; /* Feste Höhe von 100px */
    object-fit: cover; /* Bildinhalt zuschneiden, um den festgelegten Bereich zu füllen */
}

    .message-image {
        max-width: 100px; /* Begrenzt die Breite des Bildes */
        max-height: 100px; /* Begrenzt die Höhe des Bildes */
        cursor: pointer; /* Zeigt an, dass das Bild klickbar ist */
    }


.p-5-important {
    padding: 1.25rem !important;
  }
